/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --width: 700px;
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --text-font-wght: 400;
  --heading-font-wght: 700;
  --bg-color: #fff;
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --color: #000;
  --contour: #000;
  --fill: #ff0000;
  --btn-color: #fff;
}
